body {
    background-color: #EEEEEE;
}

#header {
    background-color: #66CCFF;
    color: white;
    width: 1000px;
    height: 100px;
}

#header #headertext {
    background-color: #66CCFF;
    color: white;
    text-align: center;
}

#header #headermenu {
    background-color: #66CCFF;
    color: white;
    text-align: left;
}

body #container #header #headermenu ul li {
  display: inline;
}

#container {
    background-color: white;
    width:1000px;
    height:1000px;
    padding:0px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 0px;
    width: 1000px;
    height:900px;
}

#options {
    float: left;
    width: 200px;
    height: 900px;
    background-color: #66CCFF;
}

#scope {
    float: left;
    text-align: center;
    width: 598px;
    height: 898px;
    border:1px solid #aaaaaa;
    border-radius: 5px;
    background-color: white;
    position: relative;
}

#operations {
    float: right;
    width: 200px;
    height: 900px;
    background-color: #66CCFF;
    text-align: center;
}

#operationlist {
    background-color: white;
    padding: 5px;
}

#operationlist ul {
    list-style-type: none;
}

.entity {
    padding:10px;
    border:1px solid #aaaaaa;
    border-radius: 5px;
    background-color: white;
    width: 40px;
    position: relative;
    font-size: 10px;
    text-align: center;
}

.entityInstance {
    padding:10px;
    border:1px solid #aaaaaa;
    border-radius: 5px;
    background-color: white;
    width: 100px;
    position: absolute;
    font-size: 10px;
    z-index: 1;
    text-align: center;
}

.entityInstanceInputs {
    width: 1px;
    height: 1px;
    z-index: 2;
    position: absolute;
    font-size: 10px;
    text-align: left;
}

.entityImg {
    height: 35px;
    width: 35px;
}

.entityInstanceImg {
    height: 55px;
    width: 55px;
}

.inputs {
    padding:10px;
    border:1px solid #aaaaaa;
    border-radius: 5px;
    background-color: white;
    width: 100px;
    position: relative;
    font-size: 10px;
    text-align: center;
}

.circle {
    border: 3px solid green;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;    
  }

.linklinepoint {
    border: 1px solid green;
    border-radius: 50%;
    width: 8px; 
    height: 8px;
    background-color: green;
    box-sizing: border-box;
    -moz-box-sizing: border-box;    
  }

.linkline {
    position: absolute; /* allows to position it anywhere */
    width: 1px; /* your chosen line width */
    background-color: black; /* line color */
    z-index: 0; /* make sure this is above your other elements */
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    /* transform-origin sets rotation around top left (instead of the geometrical center) */
}